* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
.button-container {
  background: #E8E8E8;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  width: 50%;
}
.button {
  border: none;
  color: white;
  display: inline-block;
  margin-right: 1.5rem;
  padding: 1rem 2rem;
}
.button:last-child {
  margin-right: 0;
}
.button--add {
  background: green;
}
.button--sub {
  background: red;
}
.button--start {
  background: #333;
}
.display {
  text-align: center;
}
.get-started {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

